nav a{
    margin: 10px;
}

nav button{
    margin: 10px;
}

#titulo{
    background-color: rgb(70, 70, 70);
    background-image: repeating-linear-gradient(45deg, transparent, transparent, 25px, rgba(6, 2, 61, 0.5) 40px);
}

#titulo::after{
    content: '';
    background-color: transparent;
    display: block;
    height: 20px;
    width: 50px;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -40px;
}

#msg{
    background-color: rgb(70, 70, 70);
    position: relative;
    margin-top: -20px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

#separador{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.catalogo h4{
    color: white;
}

.card-border{
    margin-top: 15px;
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;
}
.card-border:hover{
    transform: scale(1.05);
}

#zapatilla{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(221, 79, 43), 45%, rgba(192, 2, 2, 0.808) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}
#zapatilla .container-md h1{
    color: white;
}

#separador2{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador2 .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#conocenos{
    background: rgb(255, 255, 255);
    background-image:linear-gradient(0deg, rgb(228, 137, 18), 30%, rgba(221, 79, 43, 1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.sobre h2{
    color: white;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.sobre p{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
.sobre h3{
    color:white;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.sob h1{
    color: white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
}

#separador3{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador3 .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#contacto{
    background: rgb(255, 255, 255);
    background-image:linear-gradient(0deg, rgb(248, 193, 10), 25%, rgba(228, 137, 18, 1) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.titulo{
    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#separador4{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separador4 .content{
    width: 150%;
    height: 150px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

#pie-pag{
    background: rgb(255, 255, 255);
    background-image:linear-gradient(0deg, rgb(27, 27, 27), 25%, rgb(32, 32, 32) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}
.pie-li{
    color: white;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.pie-li:hover{
    transform: scale(1.15);
    color: teal;
}
#pie-pag .s{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.bi{
    font-size: 40px;
    color:teal;
}

.bi:hover{
    transform: scale(1.15);
    cursor: pointer;
    transition: 2s;
    color:white;

}

#pie .col{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#pie ul{
    list-style: none;
}

#video{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(221, 79, 43), 45%, rgba(192, 2, 2, 0.808) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

.redes li{
    display: inline;
}   

#adm{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(221, 79, 43), 45%, rgba(192, 2, 2, 0.808) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
    
}

#adm .cuadro{
    height: 400px;
}

#adm .table{
    background-color: gray;
    color:rgb(5, 0, 75);
}

.tabla{
    border: solid 10px black;
}

#mod{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(221, 79, 43), 45%, rgba(192, 2, 2, 0.808) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
}

#in{
    background: rgb(255, 255, 255);
    background-image: linear-gradient(0deg, rgb(221, 79, 43), 45%, rgba(192, 2, 2, 0.808) 57%);
    background-repeat: repeat-x;
    background-size: 75%;
    margin-top: -20px;
    height: 600px;
}

#in form{
    padding: 40px;
}



